@inject IProfileData ProfileData
@inject NavigationManager Navigation

<div class="hover:opacity-90 transition cursor-pointer relative" 
    @onclick:stopPropagation="true">
    <MudAvatar Style="@GetLargeClass()" Class="@GetBorderClass()">
        <MudImage Alt="Avatar" Src="@GetProfileImage()" @onclick="OnClick" />
    </MudAvatar>
</div>



