@inject NavigationManager Navigation
@inject IProfileData ProfileData

<div class="border-b-[1px] border-neutral-800 p-2 cursor-pointer hover:bg-neutral-900 transition">
    <div class="flex flex-row items-start gap-3">
        <Avatar Profile="@profile" />
        <div>
            <div class="flex flex-row items-center gap-2">
                <p class="text-white font-semibold cursor-pointer hover:underline">
                    @profile?.FirstName @profile?.LastName
                </p>
                <span class="text-neutral-500 cursor-pointer hover:underline hidden md:block">
                    @@@profile?.DisplayName
                </span>
                <span class="text-neutral-500 text-sm">
                    @Comment?.DateCreated.Humanize()
                </span>
            </div>
            <div class="text-white mt-1">
                @Comment.Body
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public CommentModel Comment { get; set; }

    private ProfileModel profile;

    protected override async Task OnInitializedAsync()
    {
        profile = await ProfileData.GetProfileAsync(Comment.Profile.Id);
    }

    private void LoadProfilePage()
    {
        Navigation.NavigateTo($"/Profiles/{Comment?.Profile?.Id}");
    }
}
