@inject NavigationManager Navigation
@inject IProfileData ProfileData

<div class="border-b-[1px] border-neutral-800 p-2 cursor-pointer hover:bg-neutral-900 transition">
    <div class="flex flex-row items-start gap-3">
        <Avatar Profile="@Comment?.Profile" />
        <div>
            <div class="flex flex-row items-center gap-2">
                <p @onclick="LoadProfilePage" @onclick:stopPropagation
                   class="text-white font-semibold cursor-pointer hover:underline">
                    @Comment?.Profile?.FirstName @Comment?.Profile?.LastName
                </p>
                <span @onclick="LoadProfilePage" @onclick:stopPropagation
                      class="text-neutral-500 cursor-pointer hover:underline hidden md:block">
                    @@@Comment?.Profile?.DisplayName
                </span>
                <span class="text-neutral-500 text-sm">
                    @Comment?.DateCreated.Humanize()
                </span>
            </div>
            <div class="text-white mt-1">
                @Comment.Body
            </div>
        </div>
    </div>
</div>


