@inject IBlogData BlogData
@inject ISnackbar Snackbar
@inject NavigationManager Navigation

<MudDialog Class="bg-black text-white w-[500px]">
    <TitleContent>
        <div class="flex justify-between">
            <span class="text-[20px]">
                Delete
                '
                <span class="text-rose-500 overflow-hidden">
                    @Blog?.Body
                </span>
                '
                ?
            </span>
            <button @onclick="Cancel" class="btn btn-close btn-close-white" />
        </div>
    </TitleContent>
    <DialogContent>
        <div class="w-full">
            <p class="text-zinc-400/80">
                Are you sure you want to delete your blog?
                This action is irreversible.
            </p>
        </div>
        <div class="flex justify-content-between">
            <div class="mt-4 flex flex-row justify-center">
                <div class="rmt-6 px-4 py-2 rounded-full bg-sky-500
                                hover:bg-opacity-90 cursor-pointer transition">
                    <button class="text-center text-white text-[18px]"
                            disabled="@isDeleting"
                    @onclick="Cancel">
                        Cancel
                    </button>
                </div>
            </div>
            <div class="mt-4 flex flex-row justify-center">
                <div class="rmt-6 px-4 py-2 rounded-full bg-rose-500
                                hover:bg-opacity-90 cursor-pointer transition">
                    <button class="text-center text-white text-[18px]"
                            disabled="@isDeleting"
                    @onclick="DeleteAsync">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </DialogContent>
</MudDialog>


